html
    head 
        title= 'Result'
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css')
    body
        div.content.m-3
            h2="Results"

            table.table.is-striped 
                tbody
                    if title != "" 
                        tr 
                            th="Title"
                            td=title 
                    tr 
                        th="Cheapest Price Ever"
                        td=(cheapestPriceEver == 0 ? "Free" : cheapestPriceEver)

                    tr 
                        th="Current Best Price"
                        td=(currentBestDeal != null ? currentBestDeal.storeName + " - " + currentBestDeal.price : "No data")

                    tr 
                        th="Current Averange Price"
                        td=currentAvgPrice
                    
                    tr 
                        th="Release Date"
                        td=releaseDate
                    tr 
                        th="Description"
                        td !{description}

                    tr 
                        th="Averange Score"
                        td=avgScore

                    if avgMetacriticFromAllPlatforms != 0
                        tr 
                            th="Averange Metacritic Score"
                            td=avgMetacriticFromAllPlatforms

                    if bestMetacriticStore != 0
                        tr 
                            th="Best Metacritic Score"
                            td=bestMetacriticStore

                    tr 
                        th="Platforms"
                        td=platforms

                    if ammountOfCharacters != "No data"
                        tr 
                            th="Ammount of Characters in Giant Bomb Wiki"
                            td=ammountOfCharacters

                    if ammountOfLocations != "No data"
                        tr
                            th="Ammount of Locations in Giant Bomb Wiki"
                            td=ammountOfLocations

            if deals.lenght != 0
                h2= "Deals"
                table.table.is-striped  
                    thead 
                        tr 
                            th="Store"
                            th="Current Price"
                            th="Retail Price"
                    tbody 
                        each deal in deals 
                            tr 
                                td=deal.storeName 
                                td=deal.price 
                                td=deal.retailPrice 
                